services:
  app:
    build: 
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      -./src:/app/src
    environment:
      - PYTHONPATH=/app/src
    command: python src/main.py